:root {
  /* Primary colors */
  --Teal-500: hsl(179, 62%, 43%);
  --Teal-400: hsl(179, 47%, 52%);
  --Green-400: hsl(71, 73%, 54%);

  /* Neutral colors */
  --Teal-100: hsl(204, 43%, 93%);
  --Gray-500: hsl(218, 22%, 67%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif, Arial;
}

/* this can be solved by both flex-box and grid, I will try flexbox first as I am more familiar with it. */

.h-full {
  height: 100vh;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.bg-gray-500 {
  background: var(--Teal-100);
}

.container {
  width: min(85%, 40em);
}

.rounded-xs {
  border-radius: 0.3em;
}

.bg-green {
  background-color: var(--Green-400);
}

.shadow {
  box-shadow: 2px 12px 80px 3px rgba(0, 0, 0, 0.274);
}

.text-teal-500 {
  color: var(--Teal-500);
}

.p-3-2 {
  padding: 1em 1.6em;
}

.text-lg {
  font-size: 1em;
}

.text-mid {
  font-size: 1.3em;
}

.text-xl {
  font-size: 1.11rem;
}

.font-normal {
  font-weight: 400;
}

.text-2xl {
  font-size: 1.4rem;
}

.my-2 {
  margin: 1.4em 0;
}

.text-green-400 {
  color: var(--Green-400);
}

.font-bold {
  font-weight: 700;
}

.text-gray-500 {
  color: var(--Gray-500);
}

.line-16 {
  line-height: 1.7;
}

.text-normal {
  font-size: 0.98em;
}

.text-white {
  color: var(--Teal-100);
}

.bg-teal-500 {
  background: var(--Teal-500);
}

.bg-teal-400 {
  background: var(--Teal-400);
}

.no-list-style {
  list-style: none;
}

.py-0 {
  padding-left: 0;
  padding-right: 0;
}

.list {
  margin-top: 1.3em;
  margin-bottom: 0;
}

.list > li {
  color: var(--Teal-100);
}

li + li {
  margin-top: 0.3em;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-stretch {
  align-items: stretch;
}

.w-full {
  width: 100%;
}

.py-4 {
  padding: 1em 0;
}

.bg-green-400 {
  background-color: var(--Green-400);
}

.border-none {
  border: none;
}

.cursor-pointer {
  cursor: pointer;
}

.text-3xl {
  font-size: 2.2rem;
}

.mt-1 {
  margin-top: 0.1em;
}

.mt-3 {
  margin-top: 0.6em;
}

.mb-4 {
  margin-bottom: 1.4em;
}

.my-1 {
  margin: 0.5em 0;
}

.mr-2 {
  margin-right: 0.3em;
}

.text-light {
  opacity: 0.56;
}

.flex-auto {
  flex: auto;
}

.flex-1 {
  flex-grow: 1;
}

.self-stretch {
  align-self: stretch;
}
