:root {
  /* Primary colors */
  --Teal-500: hsl(179, 62%, 43%);
  --Teal-400: hsl(179, 47%, 52%);
  --Green-400: hsl(71, 73%, 54%);

  /* Neutral colors */
  --Teal-100: hsl(204, 43%, 93%);
  --Gray-500: hsl(218, 22%, 67%);
  --Gray-700: hsl(217, 6%, 45%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif, Arial;
}

p {
  line-height: 1.8;
  font-size: 0.87rem;
  margin-top: 0.58em;
  margin-bottom: 1.2em;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--Teal-100);
}

.p-all {
  padding: 1em 1.6em;
}

.first-section {
  background: white;
  border-radius: 0.5rem 0.5rem 0 0;
}

.heading-lg {
  font-size: 1.25rem;
  font-weight: 700;
}

.sub-heading {
  font-size: medium;
  margin-bottom: 1.2em;
  margin-top: 1.4em;
}

/*  */

.wrap-container {
  display: flex;
  flex-wrap: wrap;
}

.smaller-div {
  flex: 1 1 18.6rem;
  align-self: stretch;
}

.para {
  font-size: 0.98rem;
}

.btn {
  cursor: pointer;
  margin-top: 0.7em;
  margin-bottom: 0.3em;
  border: none;
  padding: 0.85em 0;
  width: 100%;
  font-size: 1em;
  border-radius: 0.35rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.162);
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.container {
  width: min(85%, 40em);
}

.rounded-xs {
  border-radius: 0.5rem;
}

.shadow {
  box-shadow: 2px 8px 20px 0 rgba(0, 0, 0, 0.133);
}

.text-teal-500 {
  color: var(--Teal-500);
}

.text-mid {
  font-size: 1.11rem;
}

.text-green-400 {
  color: var(--Green-400);
}

.font-bold {
  font-weight: 700;
}

.text-gray-500 {
  color: var(--Gray-500);
}

.text-gray-700 {
  color: var(--Gray-700);
}

.text-teal-100 {
  color: var(--Teal-100);
}

.text-small {
  font-size: 0.87rem;
}

.text-white {
  color: var(--Teal-100);
}

.bg-teal-500 {
  background: var(--Teal-500);
}

.bg-teal-400 {
  background: var(--Teal-400);
}

.no-list-style {
  list-style: none;
}

.py-0 {
  padding-left: 0;
  padding-right: 0;
}

li + li {
  margin-top: 0.25em;
}

.flex-wrap {
  flex-wrap: wrap;
}

.bg-green-400 {
  background-color: var(--Green-400);
}

.text-3xl {
  font-size: 2.04rem;
}

.mt-1 {
  margin-top: 0.2em;
}

.mt-3 {
  margin-top: 0.6em;
  margin-bottom: 1.05em;
}

.mr-2 {
  margin-right: 0.3em;
}

.text-light {
  opacity: 0.56;
}

.right {
  border-radius: 0 0 0.5em 0.5em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 43.75em) {
  .left {
    border-radius: 0 0 0 0.5rem;
  }

  .right {
    border-radius: 0 0 0.5rem 0;
  }

  .p-all {
    padding: 1.8em 2.5em;
  }

  p {
    line-height: 1.7;
    font-size: 0.98rem;
  }

  .sub-heading {
    font-size: large;
    margin-bottom: 0;
    margin-top: 1.4em;
  }

  .heading-lg {
    font-size: 1.53rem;
  }
}
